/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f8f8;
}

/* Header */
header {
    background-color: #7cddf3;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

/* Main Section */
main {
    padding: 20px;
}

.main-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
   w
}

section {
    margin: 20px 0;
}

/* Form Styling */
form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}
